<%= simple_form_for(@pin, html: { class: "horizontal" }) do |f| %>
  <%= f.error_notification %>

  <div class="inputs">
    <%= f.input :description, as: :text, input_html: { rows: "3" } %>
  </div>

  <div class="actions">
    <%= f.button :submit, class: "btn btn-primary" %>
  </div>
<% end %> 
